@import "./base.scss";

.zmiti-index-main-ui {
	z-index: 101;
	@include transform3d;
	overflow: hidden;

	&.hide {
		opacity: 0;
		@include transition(1s 1s);
	}

	.zmiti-index-title {
		@include pos(a);
		width: 8rem;
		left: 1rem;
		top: 1rem;
	}

	.zmiti-index-start {
		@include pos(a);
		width: 4rem;
		left: 3rem;
		top: 70%;
		@include transform(rotateX(40deg) translateZ(80px) scale(.8));
		@include transformOrigin(bottom);
		z-index: 121;

		.zmiti-loading-progress {
			@include pos(a);
			color: #fff;
			z-index: 10;
			top: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 1.6rem;
			font-family: Georgia;
			font-size: .8rem;
		}

		@include animation(move 1s linear infinite alternate);
	}

	@-webkit-keyframes move {
		from {
			@include transform(rotateX(40deg) translateZ(80px) scale(.8));
			opacity: 1;
		}

		to {
			@include transform(translate3d(0, .1rem, 0));
			@include transform(rotateX(40deg) translate3d(0, .3rem, 80px) scale(.8));
			opacity: .8;
		}

	}

	canvas {
		@include pos(a);
		left: 0;
		top: 0;
	}

	.zmiti-tree1, .zmiti-tree2 {
		@include pos(a);
		width: 4.6rem;
		bottom: .2rem;
		right: -.5rem;
	}

	.zmiti-tree2 {
		left: 0;
		right: auto;
		width: 9rem;
		bottom: 2.4rem;
	}

	.zmiti-snows {
		@include transformOrigin(top);
		width: 100%;
		height: 6rem;
		background: #fff;
		z-index: -1;
		opacity: 0;
		bottom: 0;
		@include pos(a);
		left: 0;
	}

	.zmiti-road {
		display: none;
		width: 15rem;
		height: 10rem;
		@include pos(a);
		top: 80%;
		left: 0%;
		border: 5px dashed #ccc;
		@include br();
		@include transform(rotate(-63deg));
	}

	.zmiti-logo {
		width: 1rem;
		@include pos(a);
		right: .6rem;
		bottom: .6rem;
		z-index: -1;
	}

}
