@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 2000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  font-size: 14px;
  background: #e7ecf8;
  overflow: hidden; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

#app1 {
  height: 100%; }

.zmiti-snow {
  position: absolute;
  left: 0;
  top: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 110;
  background: #fff; }

.zmiti-score {
  position: absolute;
  width: 3rem;
  top: 4rem;
  right: 0;
  z-index: 100;
  font-family: Georgia;
  font-size: .5rem; }
  .zmiti-score .zmiti-score-num, .zmiti-score .zmiti-time {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center; }
  .zmiti-score .zmiti-score-num {
    top: .70rem;
    width: .6rem;
    height: .6rem;
    overflow: hidden;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
    .zmiti-score .zmiti-score-num .zmiti-score-item {
      width: .75rem;
      height: .75rem;
      display: block;
      box-sizing: border-box;
      position: relative;
      left: -.08rem;
      top: .04rem;
      margin: 0 auto;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
  .zmiti-score .zmiti-time {
    bottom: 0; }

.zmiti-a-list {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  font-size: .375rem;
  height: 70vh;
  color: #fff;
  text-align: center;
  z-index: 10;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateZ(10px);
  transform: translateZ(10px); }
  .zmiti-a-list.show li .zmiti-snow-img {
    opacity: 1;
    -webkit-transition: 4s 1s;
    transition: 4s 1s; }
  .zmiti-a-list li {
    min-width: 6rem;
    height: 2rem;
    line-height: 1.8rem;
    position: absolute; }
    .zmiti-a-list li.left {
      left: -.3rem; }
      .zmiti-a-list li.left .zmiti-result {
        width: .8rem;
        position: absolute;
        right: -.5rem;
        top: 0; }
    .zmiti-a-list li.right {
      right: -.3rem; }
      .zmiti-a-list li.right .zmiti-result {
        width: .8rem;
        position: absolute;
        left: -.5rem;
        top: 0; }
    .zmiti-a-list li.hide {
      -webkit-animation: hide 0.22s 0.5s 5 alternate forwards;
      animation: hide 0.22s 0.5s 5 alternate forwards; }
@-webkit-keyframes hide {
  to {
    opacity: 0; } }
    .zmiti-a-list li .zmiti-snow {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 2px; }
    .zmiti-a-list li.big {
      min-width: 7.4rem; }
    .zmiti-a-list li > img {
      width: .4rem;
      margin-right: .2rem; }
    .zmiti-a-list li > .zmiti-snow-img {
      width: 100%;
      position: absolute;
      left: 0;
      margin: 0;
      top: 0;
      opacity: 0; }
    .zmiti-a-list li:nth-of-type(1) {
      top: 1rem; }
    .zmiti-a-list li:nth-of-type(2) {
      top: 4rem; }
    .zmiti-a-list li:nth-of-type(3) {
      top: 7rem; }

.zmiti-main-ui {
  height: 100%;
  overflow: hidden; }
  .zmiti-main-ui > div {
    -webkit-transition: -webkit-transform 1s linear;
    transition: transform 1s linear; }
  .zmiti-main-ui .zmiti-tigger {
    position: absolute;
    width: 2rem;
    bottom: .4rem;
    left: 4rem;
    z-index: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    -webkit-perspective: 800px; }
    .zmiti-main-ui .zmiti-tigger:before {
      content: '';
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transform: rotateX(80deg) translateY(1rem);
      transform: rotateX(80deg) translateY(1rem);
      -webkit-transform-origin: bottom;
      transform-origin: bottom; }
  .zmiti-main-ui canvas {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0; }

.zmiti-q-item {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px; }

.zmiti-main-q-header {
  width: 8rem;
  margin: 0 auto;
  color: #fff;
  line-height: 1.5;
  font-size: .375rem;
  padding: 1rem .8rem .6rem;
  border-radius: 0.3rem;
  background: #69aa2f;
  position: absolute;
  left: .2rem;
  min-height: 2rem;
  overflow: hidden;
  top: .4rem; }
  .zmiti-main-q-header.hide {
    -webkit-transition: 1s 0.4s;
    transition: 1s 0.4s;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0; }
  .zmiti-main-q-header .zmiti-num {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: .5rem;
    top: .3rem;
    left: 0;
    z-index: 10; }
  .zmiti-main-q-header > img {
    position: absolute;
    left: 0;
    top: 0; }
  .zmiti-main-q-header:before {
    content: '';
    border: 1px solid #fff;
    border-radius: 0.3rem;
    position: absolute;
    left: 5%;
    bottom: .4rem;
    width: 90%;
    height: 100%; }

.zmiti-over-C {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .zmiti-over-C .zmiti-over {
    width: 8rem;
    margin-top: -20vh;
    position: relative;
    color: #ef5e30; }
    .zmiti-over-C .zmiti-over > div section {
      position: absolute;
      top: 1.6rem;
      width: 100%;
      text-align: center;
      font-size: 12px; }
      .zmiti-over-C .zmiti-over > div section .zmiti-result-score {
        font-size: .8rem;
        font-family: Georgia; }
    .zmiti-over-C .zmiti-over > div ul {
      width: 100%;
      position: absolute;
      top: 3rem;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .zmiti-over-C .zmiti-over > div ul li {
        width: 1rem; }
      .zmiti-over-C .zmiti-over > div ul.seconds {
        margin-top: 1.5rem; }
  .zmiti-over-C .zmiti-over-btns {
    width: 8rem;
    margin: .4rem auto;
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-over-C .zmiti-over-btns span {
      display: block;
      -webkit-box-flex: 1; }

.zmiti-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  text-align: right; }
  .zmiti-mask img {
    width: 3rem; }

.zmiti-error-list {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001; }
  .zmiti-error-list .zmiti-error-title {
    position: absolute;
    width: 5rem;
    left: 2.5rem;
    top: .5rem;
    z-index: 1; }
  .zmiti-error-list .zmiti-error-bg {
    width: 9rem;
    position: absolute;
    left: .5rem;
    top: 1rem;
    height: 88vh; }
    .zmiti-error-list .zmiti-error-bg img {
      width: 100%;
      height: 100%; }
  .zmiti-error-list .zmiti-error-content {
    width: 8.6rem;
    left: .7rem;
    top: 1.3rem;
    height: 82vh;
    overflow: hidden;
    position: absolute; }
    .zmiti-error-list .zmiti-error-content > ul {
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0 0 0; }
      .zmiti-error-list .zmiti-error-content > ul li {
        margin: .4rem 0;
        border-bottom: 1px solid #ccbeb6;
        padding-bottom: .4rem; }
        .zmiti-error-list .zmiti-error-content > ul li:last-of-type {
          border: none; }
        .zmiti-error-list .zmiti-error-content > ul li .zmiti-error-answer {
          margin-top: .3rem; }
          .zmiti-error-list .zmiti-error-content > ul li .zmiti-error-answer.horizontal {
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: justify; }
          .zmiti-error-list .zmiti-error-content > ul li .zmiti-error-answer > div {
            line-height: .8rem; }
            .zmiti-error-list .zmiti-error-content > ul li .zmiti-error-answer > div.right {
              color: #80c71b;
              position: relative; }
              .zmiti-error-list .zmiti-error-content > ul li .zmiti-error-answer > div.right img {
                width: .5rem;
                margin-left: .1rem; }
  .zmiti-error-list .zmiti-back {
    position: absolute;
    width: 4rem;
    left: 3rem;
    bottom: .2rem;
    overflow: hidden; }

.zmiti-copyright {
  position: absolute;
  width: 10rem;
  font-size: 12px;
  color: #fff;
  left: 0rem;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  bottom: .8rem;
  text-align: center; }
  .zmiti-copyright div {
    height: 1rem;
    margin-top: .4rem;
    line-height: 1rem; }
  .zmiti-copyright img {
    width: 1.6rem; }

/*# sourceMappingURL=main.css.map */
